/* Google font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --background-color: #161616;
  --main-color: #fe5900;
  --text-grey: #8a8a8a;
  --text-white: #fff;
  --text-black: #0d0d0d;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
h1 {
  font-size: 55px;
  line-height: 38px;
  color: var(--text-white);
  line-height: 63px;
}
h2 {
  font-size: 18px;
  color: var(--text-black);
  line-height: 24px;
}
p {
  font-size: 16px;
  color: var(--text-white);
  line-height: 24px;
}
.btn {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--text-white);
  padding: 15px 50px;
  border-radius: 6px;
  transition: 0.3s ease-in;
}
.btn:hover {
  background-color: #fe5900cf;
  color: var(--text-white);
}
img {
  width: 100%;
}
/* Header area start */
.header-area {
  margin: 50px auto;
  background-color: var(--background-color);
  border-radius: 30px;
}
.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-text {
  width: 40%;
}
.header-text p {
  padding: 40px 0;
}
.header-btn a i {
  padding-left: 5px;
}
.header-img {
  padding-top: 60px;
}
.header-img img {
  width: 581px;
  height: 613px;
}

/* Header area end */
/* Blogs  & upcoming match area start */
.blogs-section{
    margin: 80px auto;
}
.blogs-area{
    display: grid;
    grid-template-columns: 312px auto;
}
.blogs-filter{
    background-color: var(--background-color);
    height: 312px;
    margin-right: 24px;
    border-radius: 10px;
    padding: 30px;
}
.btn-filter{
    display: block;
    text-decoration: none;
    background-color: var(--text-white);
    margin-top:30px;
    text-align: center;
    border-radius: 10px;
    padding: 17px 0;
    color: var(--text-black);
    font-size:18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: .3s ease-in;

}
.btn-filter:hover{
    background-color: var(--main-color);
    color: var(--text-white);
}
.btn-filter.active{
    background-color: var(--main-color);
    color: var(--text-white);
}
.active:hover{
    background-color: var(--text-white);
    color: var(--text-black);
}
.blogs-grids, .match-grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.blog-grid, .match-grid{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog-thumbnail img{
    /* width: 312px;
    height: 175px; */
    border-radius: 10px 10px 0px 0px;
}
.blog-info{
    padding:15px;
}
.transfer-btn{
    border: 1px solid var(--text-black);
    background-color: var(--text-white);
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}
.blog-info h2{
    padding: 15px 0 ;
    font-weight: 600;
}
.blog-meta{
    display: flex;
    align-items: center;
    gap: 0 15px;
}
.blog-meta i{
    color: var(--text-grey);
    margin-right: 8px;

}
.blog-meta span{
    font-size: 14px;
    color: var(--text-grey);
}
.view-more-btn{
  display: none;
}
.match-grid{
  padding:53px 30px;
  height: 242px;
}
.flags{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flags img{
  Width: 93.04px;
  Height: 56.18px;
}
.match-grid span{
  font-size: 20px;
  font-weight: 600;
} 
.match-details{
  text-align: center;
  padding: 37px 0 0 0;
}
.match-details p{
  color: var(--text-grey);
}
/* Blogs  & upcoming match area end  */
/* footer area start */
.footer-area{
  background-color: #161616;
  padding: 100px 0;
}
.footer-content h1{
  text-align: center;
  margin-bottom: 60px;
}
hr{
  border:1px solid #ffffff0f;
}
.footer-navigation{
  margin: 50px 0;
  text-align: center;
}
.footer-navigation ul{
  list-style: none;
}
.footer-navigation ul li{
  display: inline-block;
  padding: 0 10px ;
}
.footer-navigation ul li a {
  text-decoration: none;
  color: #B9B9B9;
  transition: .3s ease-in;
}
.footer-navigation ul li a:hover{
  color:var(--text-white)
}
.social-icons{
  text-align: center;
}
.social-icons i {
  background-color: var(--main-color);
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.social-icons i:hover {
  background-color: var(--text-white);
  color: var(--text-black);
}
/* footer area end */
/* Media queries */
/* Media queries for Tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {

  .container{
    width: 95%;
    margin: 50px auto;
  }
  /* header area css */
  .header-text h1{
    font-size:40px;
    line-height: 45px;
  }
  .header-text p{
    font-size: 14px;
    padding: 25px 0;
  }
  .header-img img{
    Width:323px;
    Height:340px;
  }
  /* blogs & upcoming area css */
  .blogs-area{
    grid-template-columns: repeat(1, 1fr);
  }
  .blogs-filter{
    background-color: transparent;
    margin-right: 0;
    padding: 0;
    height: 130px;
  }
  .filer-btn {
    display: flex;
    justify-content: space-between;
   
}
  .btn-filter{
    display: inline-block;
    border: 1px solid var(--text-grey);
    padding: 17px 28px;
  }
  .blogs-grids, .match-grids{
    grid-template-columns: repeat(2, 1fr);
  }
  .d-none{
    display: none;
  }
  .view-more-btn {
    display: block;
    justify-self: end;
    margin-right: -100px;
    margin-top: 35px;
}
.footer-area{
  padding: 40px 0;
}

.footer-content h1{
  margin-bottom: 30px;
}

}
